@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.min.css";

input:focus,
textarea:focus {
  outline: none;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.none {
  display: none;
}


.ms_containerBannerVideo {
  position: relative;
  width: 100%;
  height: 70vh;
  background-color: aqua;
  display: flex;
  align-items: center;
  z-index: 9999;

  .ms_innerBannerVideo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -99999;

    .ms_txtCont {
      position: absolute;
      width: 50%;
      margin: 0 5%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      color: white;
      z-index: 1000;
    }
  }
}
.ms_containerSectionblog {
  width: 90%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  gap: 20px;
  margin: 0 auto;
}
.ms_ContainerBolg{ 
  width: calc(100% / 3 );
  height: auto;
  overflow: hidden;
}
.ms_innerBanner {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ms_containerBanner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: aqua;
  display: flex;
  align-items: center;

  .ms_txtCont {
    position: absolute;
    width: 50%;
    margin: 0 5%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: white;

    h1 {
      font-size: 10rem;
    }

    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 1.3rem;
    }

    .titleHeroTop {
      color: #3A3A50;
      font-size: 1.2rem;
  }
  }
}