@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.min.css";

input:focus,
textarea:focus {
    outline: none;
}
html::-webkit-scrollbar {
    display: none;
  }
  
  html {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }